.image-with-logo {
    display: grid;
    position: relative;

    &__logo {
        position: absolute;
        align-self: center;
        justify-self: center;
    }

    &__description {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
    }
}