.message-text(class= message.type ? 'message-text--' + message.type : '')
    img.message-text__logo(src="./../assets/images/" + message.img, alt="Error")
    p.message-text__title= message.text
    p.message-text__information= message.content
    